## WeatherPy

In [25]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
from scipy.stats import linregress

# Import API key
from config import weather_api_key

# Incorporated citipy to determine city based on latitude and longitude
from citipy import citipy

# Output File (CSV)
output_data_file = "output_data/cities.csv"

# Range of latitudes and longitudes
lat_range = (-90, 90)
lng_range = (-180, 180)

## Generate Cities List

In [7]:
# List for holding lat_lngs and cities
lat_lngs = []
cities = []

# Create a set of random lat and lng combinations
lats = np.random.uniform(lat_range[0], lat_range[1], size=1500)
lngs = np.random.uniform(lng_range[0], lng_range[1], size=1500)
lat_lngs = zip(lats, lngs)

# Identify nearest city for each lat, lng combination
for lat_lng in lat_lngs:
    city = citipy.nearest_city(lat_lng[0], lat_lng[1]).city_name
    
    # If the city is unique, then add it to a our cities list
    if city not in cities:
        cities.append(city)

# Print the city count to confirm sufficient count
len(cities)

611

In [22]:
ten = cities[0:10]

In [13]:
url = "http://api.openweathermap.org/data/2.5/weather?"
city = cities[0]
units = "imperial"

In [17]:
query_url = f"{url}appid={weather_api_key}&q={city}&units={units}"

# Get weather data
weather_response = requests.get(query_url)
weather_json = weather_response.json()
weather_json

{'coord': {'lon': -69.3632, 'lat': 77.484},
 'weather': [{'id': 800,
   'main': 'Clear',
   'description': 'clear sky',
   'icon': '01n'}],
 'base': 'stations',
 'main': {'temp': 17.73,
  'feels_like': 9.28,
  'temp_min': 17.73,
  'temp_max': 17.73,
  'pressure': 1035,
  'humidity': 73,
  'sea_level': 1035,
  'grnd_level': 1031},
 'visibility': 10000,
 'wind': {'speed': 4.81, 'deg': 46},
 'clouds': {'all': 0},
 'dt': 1612901710,
 'sys': {'country': 'GL', 'sunrise': 0, 'sunset': 0},
 'timezone': -14400,
 'id': 3831208,
 'name': 'Qaanaaq',
 'cod': 200}

In [19]:
lat = weather_json["coord"]["lat"]
print(lat)
lng = weather_json["coord"]["lon"]
print(lng)
max_temp = weather_json["main"]["temp_max"]
print(max_temp)
hum = weather_json["main"]["humidity"]
print(hum)
cloud = weather_json["clouds"]["all"]
print(cloud)
wind = weather_json["wind"]["speed"]
print(wind)
country = weather_json["sys"]["country"]
print(country)
date = weather_json["dt"]
print(date)

77.484
-69.3632
17.73
73
0
4.81
GL
1612901710

In [32]:
dataFrame = pd.DataFrame({"City" : ten})
dataFrame["Lat"] = ""
dataFrame["Lng"] = ""
dataFrame["Max Temps"] = ""
dataFrame["Humidity"] = ""
dataFrame["Cloudiness"] = ""
dataFrame["Wind Speed"] = ""
dataFrame["Country"] = ""
dataFrame["Date"] = ""


dataFrame

,City,Lat,Lng,Max Temps,Humidity,Cloudiness,Wind Speed,Country,Date
0,qaanaaq,,,,,,,,
1,cidreira,,,,,,,,
2,guerrero negro,,,,,,,,
3,nizhneyansk,,,,,,,,
4,mahebourg,,,,,,,,
5,innisfail,,,,,,,,
6,taolanaro,,,,,,,,
7,mataura,,,,,,,,
8,provideniya,,,,,,,,
9,port elizabeth,,,,,,,,

In [37]:
# lat = []
# lng = []
# max_temp = []
# hum = []
# cloud = []
# wind = []
# country = []
# date = []

time.sleep(1)
for index, row in dataFrame.iterrows():
    place = row["City"]
    
    query_url = f"{url}appid={weather_api_key}&q={place}&units={units}"
    weather_response = requests.get(query_url)
    weather_json = weather_response.json()
    
    try:
        dataFrame.loc[index, "Lat"] = weather_json["coord"]["lat"]
        dataFrame.loc[index, "Lng"] = weather_json["coord"]["lon"]
        dataFrame.loc[index, "Max Temps"] = weather_json["main"]["temp_max"]
        dataFrame.loc[index, "Humidity"] = weather_json["main"]["humidity"]
        dataFrame.loc[index, "Cloudiness"] = weather_json["clouds"]["all"]
        dataFrame.loc[index, "Wind Speed"] = weather_json["wind"]["speed"]
        dataFrame.loc[index, "Country"] = weather_json["sys"]["country"]
        dataFrame.loc[index, "Date"] = weather_json["dt"]
        print("Found values")
    except:
        print("Skip")

Found values
Found values
Found values
Skip
Found values
Found values
Skip
Found values
Found values
Found values

In [38]:
dataFrame

,City,Lat,Lng,Max Temps,Humidity,Cloudiness,Wind Speed,Country,Date
0,qaanaaq,77.484,-69.3632,15.91,73,0,3.89,GL,1612906417
1,cidreira,-30.1811,-50.2056,74.97,82,2,16.84,BR,1612906375
2,guerrero negro,27.9769,-114.061,65.89,56,31,12.88,MX,1612906486
3,nizhneyansk,,,,,,,,
4,mahebourg,-20.4081,57.7,78.8,78,20,4.61,MU,1612906441
5,innisfail,-17.5333,146.033,80.4,87,29,2.91,AU,1612906997
6,taolanaro,,,,,,,,
7,mataura,-46.1927,168.864,50.31,94,100,7.87,NZ,1612906781
8,provideniya,64.3833,-173.3,-2.2,71,0,24.61,RU,1612906399
9,port elizabeth,-33.918,25.5701,68,88,75,6.91,ZA,1612906997

## Perform API Calls